<?xml version="1.0"?>

<launch>

	<!-- Launch HSR -->
	<include file="$(find hsrb_gazebo_launch)/launch/hsrb_megaweb2015_world.launch">
		<arg name="paused" value="false" />
	</include>

	<!-- Launch STL monitor (output console) -->
	<node name="cbf_controller" pkg="cbf_ros" type="cbf_controller.py" output="screen">
	</node>

	<!-- spawn agent -->
	<include file="$(find cbf_ros)/launch/spawn_turtlebot3.launch">
    </include>

</launch>
