<?xml version="1.0"?>
<launch>

	<!-- Launch world -->
	<include file="$(find Risk-based-Stochastic-Control-Barrier-Functions-)/launch/Tjunction_with_empty.launch">
	</include>

	<!-- spawn agent -->
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_agent1" args="-file $(find Risk-based-Stochastic-Control-Barrier-Functions-)/model_editor_models/agent/model.sdf -sdf -model agent1 -x 6.0 -y 1.0 -z 0.0" >
	</node>
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_agent2" args="-file $(find Risk-based-Stochastic-Control-Barrier-Functions-)/model_editor_models/agent/model.sdf -sdf -model agent2 -x 6.0 -y -1.0 -z 0.0" >
	</node>

</launch>
